html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 850px;
    margin: auto;
    border: black 6px solid;
    margin-top: 5em;
}
#CV {
    display: flex;
    flex-direction: row;
}
#Title {
    border: black 2px solid;
    width: 100%;
    text-align: center;
}
#Rightside {
    border: black 2px solid;
}

#Leftside {
    border: black 2px solid;

}