html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 850px;
    margin: auto;
    border: black 6px solid;
    margin-top: 5em;
    font-size: 13px;
    padding-bottom: 30px;
    margin-bottom: 5em;

}

#Title {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: white;
}
#main-container {
    display: flex;
}
#Rightside {
    border: navy 1.5px solid;
    padding-left: 30px;
    padding-right: 30px;
    inline-size: auto;
    border-top: white;
    border-right: white;
    padding-bottom: 40px;
    border-bottom: white;
    border-top: 10px;
 

}

#Leftside {
    border: navy 1.5px solid;
    border-top: white;
    border-left: white;
    border-bottom: white;
    padding-left: 30px;
    padding-right: 30px;
    inline-size: 600px;
    text-align: right;
    padding-bottom: 40px;

}
#name {
    border: black 1px solid;
}

#Contact {
    margin-top: -18px;
}
#Experience {
    margin-top: -18px;
}
.experience-details {
    margin-left: 25px;
}
.role {
    border: black 1px solid;
    background-color: rgb(234, 230, 230);
}
